<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Pedidos - Panadería El Maná</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/usuarios/base-home.css' %}">
   
    {% endblock %}
</head>

<body>
    {% block content %}
    <main id="main">
        <main class="main-content">
            <section class="hero">
                <h1>Home</h1>
                <div class="accent-line"></div>
                <p>Bienvenido a nuestro sistema</p>
                <div style="margin-top: auto;">
                    
                </div>
            
        </main>
     
       
	</main>
    {% endblock %}
    {% block js %}{% endblock %}
</body>
</html>