html,body{
    height: 100%;
}


body{
    background-image: url("../../img/productos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Ajusta el color y la opacidad según tus necesidades */
    z-index: -1;
}


button[type="submit"]{
    

    border-color: #d88c2255;
    background-color: #fc8213;
}



button:hover[type="submit"]{
    background-color: #c44c0a;
    border-color: #d88c2255;

}



button:active[type="submit"]{
    background-color: #7d3311;
    border-color: #d88c2255;

}




/* Estilos para los botones de acción */



.btn i {
    margin-right: 5px;
}



#main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}