<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Mayoristas - Panadería El Maná</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/ventas/style_gestion_mayorista.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_gestion.css' %}">
    <link rel="stylesheet" href="{% static 'css/ventas/form.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
    <main id="main" style="margin-top: 6rem;">
		<form method="POST" class="formulario" id="formulario">
            {% csrf_token %}
            <div class="card-header navbar-dark ">
                <h1 class="h3 mb-0 formulario__label"style="color: #ffffff">Modificar mayorista</h1>
            </div>
            <div class="form-container">
                <div class="form-background">
                    <!-- Grupo: Razon social -->
                    <div class="formulario__grupo" id="grupo__numeroPedido">
                        <label for="numeroPedido" class="formulario__label">Razon social</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="razonSocial" id="razonSocial" value="{{ mayorista.razon_social }}" required>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                    </div>
    
                    <!-- Grupo: Cuit -->
                    <div class="formulario__grupo" id="grupo__cuit">
                        <label for="cuit" class="formulario__label">Cuit:</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="cuit" id="cuit" pattern="\d{11}" value="{{ mayorista.cuit }}" readonly required maxlength="11">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                    </div>
    
    
                    <!-- Grupo: Direccion -->
                    <div class="formulario__grupo">
                        <label for="direccion" class="formulario__label">Direccion:</label>
                        <div class="formulario__grupo-input">
                            <input type="text" name="direccion" class="formulario__input" value="{{ mayorista.direccion }}" required>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Ingrese una direccion.</p>
                    </div>
                    <!-- Grupo: telefono -->
                    <div class="formulario__grupo">
                        <label for="telefono" class="formulario__label">Telefono:</label>
                        <div class="formulario__grupo-input">
                            <input type="text" name="telefono" class="formulario__input" pattern="^\d+$" value="{{ mayorista.telefono }}" required>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Ingrese un telefono.</p>
                    </div>

                    <!-- Grupo: email -->
                    <div class="formulario__grupo">
                        <label for="correo" class="formulario__label">Email de contacto:</label>
                        <div class="formulario__grupo-input">
                            <input type="email" name="correo" class="formulario__input" id="correo" value="{{ mayorista.email }}">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                    </div>

                    <!-- Grupo: condicion de venta -->
                    <div class="formulario__grupo">
                        <label for="condicionVenta" class="formulario__label">Condicion de venta:</label>
                        <div class="formulario__grupo-input">
                            <input type="hidden" id="cvHidden" value="{{ mayorista.condicion_venta }}">
                            <select name="condicionVenta" class="formulario__input" id="condicionVenta" required>
                                <option value="" hidden>SELECCIONE</option>
                                <option value="CONTADO">Contado</option>
                                <option value="CREDITO">Credito</option>
                            </select>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                    </div>
                </div>	
            </div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn"><i class="bi bi-cart4  me-2"></i>Registrar Mayorista</button>
			</div>
		</form>
        </div>
	</main>
    
    <footer class="py-1 mt-8 fixed-bottom">
        <div class="card-footer container text-center">
            <p class=" mb-0">&copy; 2024 Panadería El Mana. Todos los derechos reservados.</p>
        </div>
    </footer>
    {% endblock%}
    {% block js %}
    <!-- <script src="{% static 'scripts/gestion_ventas/script_ventas.js' %}"></script>
    <script src="{% static 'scripts/gestion_ventas/script_ventas_productos.js' %}"></script> -->
    <script>
        const $condicionVenta = document.getElementById("cvHidden").value;
        const $selectCV = document.getElementById("condicionVenta");
        $selectCV.value = $condicionVenta;
    </script>
    <script src="{% static 'scripts/gestion_ventas/script_mayoristas.js' %}"></script>
    {% endblock %}   
</body>
</html>