<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Informe de Insumos</title>
        {% extends 'base.html' %}
        {% load static %}
        {% block css %}
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/productos/tabla.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/productos/informe.css' %}">
        <link rel="stylesheet" href="{% static 'css/productos/form.css' %}">

        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    {% block content %}
    <body>
        <main id="main">

            <div class="table-container" id="tableContainer">
                <div style="display: flex;flex-direction: row;">
                    <div class="table-title" style="display: inline;padding-top: 65px;">Lista de insumos</div>
                    <form id="formulario" class="needs-validation formulario" method="GET" style="margin: 0;padding-bottom: 5px;">
                        <!-- Botones para ordenar por cantidad -->
                        <button type="submit" name="orden" value="asc" class="formulario__btn">Ordenar por menor cantidad restante</button>
                        <button type="submit" name="orden" value="desc" class="formulario__btn">Ordenar por mayor cantidad restante</button>
                    </form>
                </div>
                <table id="tabla-productos" style="margin: 0;padding: 0;">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Cantidad disponible</th>
                            <th>Cantidad minima</th>
                            <th>Unidad de Medida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>{{ producto.cantidad_minima }}</td>
                            <td>{{ producto.unidad_medida }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>          
                        <tr class="total-row" id="foot-tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>  

                        </tr>
                    </tfoot> 
                </table>
                <button class="formulario__btn" onclick="window.print()">Imprimir informe</button>
            </div>
        </main>
        {% endblock %}

        {% block js %}
        <script>document.addEventListener('click',function(e){
                console.log(e.target)
            })
        </script>
        {% endblock %}
    </body>
</html>